*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
}

@supports not (min-block-size: 100dvb) {
  :where(html) {
    block-size: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
:where(body) {
  block-size: 100%;
  block-size: 100dvb;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(button) {
  border-style: solid;
}

:where(a) {
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg) {
  max-inline-size: 100%;
  /* images should never overflow past the available space */
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
}

:where(hr) {
  border: none;
  -webkit-border-before: 1px solid;
          border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  outline: 2px solid var(--focus-color, Highlight);
  outline-offset: 2px;
}

:where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

:root {
  --color-green: #009944;
  --color-red: #f00;
  --color-money: #0052f0;
  --color-skill-up: #60c;
  --color-language: #ffb84e;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;
  line-height: 1.5;
}

.wrapper {
  background: var(--color-green);
  position: relative;
  padding: 0 20px;
}
.wrapper__inner {
  background: #f8f6ea;
  overflow: hidden;
  padding: 0 0px;
}
@media (min-width: 750px) and (max-width: 900px) {
  .wrapper {
    padding: 0 1.2987012987vw;
  }
}
@media (max-width: 749px) {
  .wrapper {
    padding: 0 2.7027027027vw;
  }
}

.l-header {
  background: var(--color-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  top: 0;
  padding: 0 0px;
  margin-bottom: -2px;
  z-index: 1000;
}
.l-header__logo {
  margin-right: auto;
}
.l-header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.l-header__nav__button {
  display: block;
  padding: 20px 30px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
}
@media (max-width: 749px) {
  .l-header {
    height: 10.8108108108vw;
    padding: 0 2.7027027027vw;
  }
  .l-header__logo {
    position: relative;
    z-index: 1000;
    width: 22.972972973vw;
  }
  .l-header__nav__toggle {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .l-header__nav__list {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 10.8108108108vw;
    left: 0;
    right: 0;
    padding-top: 5.4054054054vw;
    padding-bottom: 9.7297297297vw;
    background: rgba(0, 153, 68, 0.7);
    opacity: 0;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .is-active .l-header__nav__list {
    opacity: 1;
    visibility: visible;
  }
  .l-header__nav__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    font-size: 3.7837837838vw;
    width: 32.4324324324vw;
    height: 8.6486486486vw;
  }
  .l-header__nav__button[data-filter=skill-up] {
    background-color: var(--color-skill-up);
  }
  .l-header__nav__button[data-filter=money] {
    background-color: var(--color-money);
  }
  .l-header__nav__button[data-filter=language] {
    background-color: var(--color-language);
  }
}

.l-footer {
  background: var(--color-green);
  padding: 30px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.is-active .hamburger:hover {
  opacity: 0.7;
}

.is-active .hamburger .hamburger-inner,
.is-active .hamburger .hamburger-inner::before,
.is-active .hamburger .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 30px;
  height: 25px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.is-active .hamburger--squeeze .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.is-active .hamburger--squeeze .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.is-active .hamburger--squeeze .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

[href="#"] {
  display: block;
  position: relative;
}
[href="#"]::before {
  position: absolute;
  content: "";
  inset: -20px;
  border: 3px solid red;
}

.color-red {
  color: var(--color-red);
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.hover-fade {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.hover-fade:hover {
  opacity: 0.6;
}

@media (max-width: 749px) {
  .sm\:block {
    display: block;
  }
  .sm\:hidden {
    display: none;
  }
  .sm\:txt-left {
    text-align: left;
  }
  .sm\:txt-center {
    text-align: center;
  }
}
@media (min-width: 750px) {
  .md\:block {
    display: block;
  }
  .md\:hidden {
    display: none;
  }
  .md\:txt-left {
    text-align: left;
  }
  .md\:txt-center {
    text-align: center;
  }
}
@media (min-width: 901px) {
  .lg\:block {
    display: block;
  }
  .lg\:hidden {
    display: none;
  }
  .lg\:txt-left {
    text-align: left;
  }
  .lg\:txt-center {
    text-align: center;
  }
}
.main {
  position: relative;
  padding: 0 20px;
}
@media (max-width: 900px) {
  .main {
    padding: 0;
  }
}

.bg-obj {
  position: absolute;
  content: "";
  pointer-events: none;
}
.bg-obj.obj1 {
  top: 701px;
  left: calc(50% + 507px);
  width: 276px;
  height: 276px;
  background: url("../img/obj_1.png") no-repeat;
}
.bg-obj.obj2 {
  top: 1908px;
  left: calc(50% - 1136px);
  width: 553px;
  height: 561px;
  background: url("../img/obj_2.png") no-repeat;
}
.bg-obj.obj3 {
  top: 2280px;
  left: calc(50% + 594px);
  width: 111px;
  height: 111px;
  background: url("../img/obj_3.png") no-repeat;
}
.bg-obj.obj4 {
  top: 3258px;
  left: calc(50% + 491px);
  width: 253px;
  height: 168px;
  background: url("../img/obj_4.png") no-repeat;
}
.bg-obj.obj5 {
  top: 6846px;
  left: 0;
  width: 114px;
  height: 199px;
  background: url("../img/obj_5.png") no-repeat;
}
@media (max-width: 749px) {
  .bg-obj {
    display: none;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 275px;
  height: 67px;
  border-radius: 50px;
  background: #00c256;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(216, 255, 105, 0.7);
          box-shadow: 0px 0px 14px 0px rgba(216, 255, 105, 0.7);
}
.btn__label {
  position: absolute;
  color: var(--color-green);
  text-align: center;
  left: 0;
  right: 0;
  top: -3rem;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 750px) and (max-width: 900px) {
  .btn {
    width: 26.1038961039vw;
    height: 5.3246753247vw;
    font-size: 1.5584415584vw;
  }
  .btn__label {
    top: -2.5974025974vw;
    font-size: 1.4285714286vw;
  }
}
@media (max-width: 750px) {
  .btn {
    width: 76.2162162162vw;
    height: 13.7837837838vw;
    font-size: 4.3243243243vw;
  }
  .btn__label {
    top: -7.5675675676vw;
    font-size: 4.3243243243vw;
  }
}

.c-mv {
  background: url("../img/bg_mv.png") no-repeat center top/1372px 702px;
  height: 702px;
  padding-top: 128px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -70px;
}
.c-mv__lead {
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 50.864px */
  letter-spacing: 1.695px;
  margin-bottom: 21px;
  overflow: hidden;
}
.c-mv__lead span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}
.c-mv__lead span.anim {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.c-mv__title {
  color: #094;
  text-align: center;
  font-size: 62px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 32px;
  overflow: hidden;
}
.c-mv__title span {
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.c-mv__title span.anim {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.c-mv__intro {
  text-align: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 1.05px;
  overflow: hidden;
}
.c-mv__intro span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}
.c-mv__intro span.anim {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media (min-width: 901px) and (max-width: 1400px) {
  .c-mv {
    background: url("../img/bg_mv.png") no-repeat center top/98vw 50.1428571429vw;
    height: 50.1428571429vw;
    padding-top: 9.1428571429vw;
  }
  .c-mv__lead {
    font-size: 2.4285714286vw;
    margin-bottom: 1.5vw;
  }
  .c-mv__title {
    font-size: 4.4285714286vw;
    margin-bottom: 2.2857142857vw;
  }
  .c-mv__intro {
    font-size: 1.5vw;
  }
}
@media (min-width: 750px) and (max-width: 900px) {
  .c-mv {
    background: url("../img/bg_mv_tab.png") no-repeat center top/94.5454545455vw 64.4155844156vw;
    height: 64.4155844156vw;
    padding-top: 6.3636363636vw;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -11.6883116883vw;
  }
  .c-mv__lead {
    font-size: 2.5974025974vw;
    margin-bottom: 2.2077922078vw;
  }
  .c-mv__title {
    margin-bottom: 2.3376623377vw;
    font-size: 5.1948051948vw;
  }
  .c-mv__intro {
    font-size: 1.9480519481vw;
    line-height: 174%; /* 36.54px */
    letter-spacing: 1.05px;
  }
}
@media (max-width: 749px) {
  .c-mv {
    background: url("../img/bg_mv_sp.png") no-repeat left -2.7027027027vw top/93.2432432432vw 146.7567567568vw;
    height: 146.7567567568vw;
    padding-top: 66.2162162162vw;
    margin-bottom: 0vw;
    margin-left: 0;
    margin-right: 0;
  }
  .c-mv__lead {
    font-size: 4.3243243243vw;
    margin-bottom: 3.2432432432vw;
  }
  .c-mv__title {
    margin-bottom: 3.2432432432vw;
    font-size: 7.5675675676vw;
    line-height: 136%;
  }
  .c-mv__intro {
    font-size: 3.7837837838vw;
    font-weight: 600;
    line-height: 165%; /* 23.1px */
    letter-spacing: 0.7px;
  }
}

.filter-nav {
  margin-bottom: 72px;
}
.filter-nav__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: 1.6px;
  text-align: center;
  margin-bottom: 4.8rem;
}
.filter-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 43px;
}
.filter-nav__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.694px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 17.33px 0px rgba(235, 255, 0, 0.6);
          box-shadow: 0px 0px 17.33px 0px rgba(235, 255, 0, 0.6);
  padding: 12px 32px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.filter-nav__button.skill-up {
  background: #60c;
}
.filter-nav__button.money {
  background: #0052f0;
}
.filter-nav__button.language {
  background: #ffb84e;
}
.filter-nav__button.is-inactive {
  opacity: 0.4;
}
@media (min-width: 750px) and (max-width: 900px) {
  .filter-nav {
    margin-bottom: 6.4935064935vw;
  }
  .filter-nav__title {
    font-size: 1.9480519481vw;
    letter-spacing: 0.1519480519vw;
    margin-bottom: 4.8051948052vw;
  }
  .filter-nav__list {
    gap: 3.8961038961vw;
  }
  .filter-nav__button {
    font-size: 2.2077922078vw;
    letter-spacing: 0.0649350649vw;
    padding: 1.038961039vw 2.8571428571vw;
  }
}
@media (max-width: 749px) {
  .filter-nav {
    margin-bottom: 13.5135135135vw;
  }
  .filter-nav__title {
    font-size: 4.3243243243vw;
    letter-spacing: 0.3459459459vw;
    margin-bottom: 3.5135135135vw;
  }
  .filter-nav__list {
    gap: 6.7567567568vw;
  }
  .filter-nav__button {
    font-size: 3.7837837838vw;
    letter-spacing: 0.1135135135vw;
    padding: 2.1621621622vw 3.7837837838vw;
  }
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}
@media (min-width: 750px) and (max-width: 900px) {
  .container {
    max-width: 89.6103896104vw;
  }
}
@media (max-width: 749px) {
  .container {
    max-width: 85.4054054054vw;
  }
}

.c-block {
  width: 100%;
  background: #fff;
  border-radius: 40px;
  padding: 50px 110px 60px;
  max-width: 1120px;
  margin: 0 auto;
  margin-bottom: 140px;
}
.c-block.sec3 {
  background: #fff url("../img/bg_sec3.png") no-repeat left 9.9107142857% top 18.5714285714%;
}
.c-block.sec4 {
  background: url("../img/bg_sec4_1.png") no-repeat right 4.9107142857% top 2.4107142857%, #fff url("../img/bg_sec4_2.png") no-repeat left 10.1785714286% bottom 6.9642857143%;
}
.c-block.sec5 {
  background: url("../img/bg_sec5_1.png") no-repeat left 6.4285714286% top 124px, #fff url("../img/bg_sec5_2.png") no-repeat right 6.3392857143% bottom 43px;
}
.c-block.sec6 {
  background: url("../img/bg_sec6_1.png") no-repeat left 6.4285714286% top 124px, #fff url("../img/bg_sec6_2.png") no-repeat right 6.3392857143% bottom 43px;
}
.c-block.sec8 {
  background: #fff url("../img/bg_sec8_1.png") no-repeat left 4.4642857143% top 50px;
  padding-left: 0;
  padding-right: 0;
}
.c-block.sec8 .sec8_2 {
  background: url("../img/bg_sec8_2.png") no-repeat right 5.8035714286% bottom 55px;
}
.c-block.sec8 .sec8_3 {
  background: url("../img/bg_sec8_3.png") no-repeat left 5.5357142857% bottom 120px;
}
.c-block__lead {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.c-block__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
.c-block__intro {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%;
  margin-bottom: 43px;
}
.c-block__intro-note {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  margin-bottom: 23px;
  -webkit-transform: translateY(-2em);
          transform: translateY(-2em);
  text-align: left;
}
.c-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 53px;
}
.c-block__content__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
}
.c-block__content__image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 48.8888888889%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.c-block__content__title {
  color: #2fbc22;
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-image: radial-gradient(circle, #2fbc22 3.5px, transparent 3.5px);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 17px 7px;
}
.c-block__content__body {
  padding: 0 38px 0 20px;
}
.c-block__content__body p {
  margin-bottom: 1em;
}
.c-block__content__body p:last-child {
  margin-bottom: 0;
}
.c-block__content__body .strong {
  color: #2fbc22;
  font-weight: bold;
  font-size: 1.8rem;
}
.c-block__content__list {
  margin-top: 1.3rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2;
  list-style-type: disc;
  padding-left: 1.5em;
}
.c-block__price-table {
  color: #2fbc22;
  margin: 0 auto;
}
.c-block__price-table th,
.c-block__price-table td {
  line-height: 2.2;
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
}
.c-block__price-table th {
  padding-right: 4em;
}
.c-block__btns {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.c-block__btns:not(:last-child) {
  margin-bottom: 88px;
}
.c-block__btns.grid-cols-1 {
  grid-template-columns: 275px;
}
.c-block__btns.grid-cols-3 {
  grid-template-columns: repeat(3, 275px);
}
.c-block__btn-item {
  position: relative;
}
.c-block__footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c-block__book-section {
  position: relative;
}
.c-block__books {
  width: 100%;
}
@media (min-width: 750px) and (max-width: 900px) {
  .c-block {
    border-radius: 3.8961038961vw;
    padding: 5.1948051948vw 2.5974025974vw 5.1948051948vw;
    margin-bottom: 5.1948051948vw;
  }
  .c-block.sec3 {
    background-position: left 2.4675324675vw top 20.2597402597vw;
    background-size: 6.3636363636vw 6.3636363636vw;
  }
  .c-block.sec4 {
    background-position: left 73.1168831169vw top 8.1818181818vw, left 2.7272727273vw bottom 9.3506493506vw;
    background-size: 5.5844155844vw 4.4155844156vw, 12.7272727273vw 2.8571428571vw;
  }
  .c-block.sec5 {
    background-position: left 5.4545454545vw top 9.2207792208vw, right 8.3116883117vw bottom 5.4545454545vw;
    background-size: 13.8961038961vw 13.8961038961vw, 8.3116883117vw 8.5714285714vw;
  }
  .c-block.sec6 {
    background-position: top 7.012987013vw left 6.4935064935vw, bottom 4.1558441558vw right 4.1558441558vw;
    background-size: 9.0909090909vw 9.2207792208vw, 11.2987012987vw 11.2987012987vw;
  }
  .c-block.sec8 {
    background-size: 12.3376623377vw 12.2077922078vw;
  }
  .c-block.sec8 .sec8_2 {
    background-size: 10.5194805195vw 10.6493506494vw;
  }
  .c-block.sec8 .sec8_3 {
    background-size: 6.4935064935vw 18.1818181818vw;
  }
  .c-block__lead {
    font-size: 1.9480519481vw;
    margin-bottom: 2.7272727273vw;
  }
  .c-block__logo {
    margin-bottom: 5.8441558442vw;
  }
  .c-block__intro {
    font-size: 1.6883116883vw;
    margin-bottom: 4.6753246753vw;
  }
  .c-block__content {
    margin-bottom: 3.8961038961vw;
  }
  .c-block__content.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-block__content__text {
    width: 58.3116883117vw;
    font-size: 1.6883116883vw;
  }
  .flex-col .c-block__content__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .c-block__content__image {
    width: 41.6883116883vw;
  }
  .flex-col .c-block__content__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto 3.8961038961vw;
  }
  .c-block__content__title {
    font-size: 2.3376623377vw;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-image: radial-gradient(circle, #2fbc22 0.25vw, transparent 0.25vw);
    background-size: 1.2142857143vw 0.5vw;
  }
  .c-block__content__body {
    font-size: 2.0779220779vw;
    padding: 0 5.1948051948vw 0 2.4675324675vw;
  }
  .c-block__content__body .strong {
    font-size: 2.3376623377vw;
  }
  .c-block__content__list {
    margin-top: 1.5584415584vw;
    font-size: 1.6883116883vw;
    padding-left: 1.5em;
  }
  .c-block__price-table th,
  .c-block__price-table td {
    font-size: 1.5584415584vw;
  }
  .c-block__price-table th {
    padding-right: 4em;
  }
  .c-block__btns {
    gap: 3.8961038961vw;
  }
  .c-block__btns:not(:last-child) {
    margin-bottom: 8.3116883117vw;
  }
  .c-block__btns.grid-cols-1 {
    grid-template-columns: 26.1038961039vw;
  }
  .c-block__btns.grid-cols-3 {
    grid-template-columns: repeat(3, 26.1038961039vw);
  }
}
@media (max-width: 749px) {
  .c-block {
    border-radius: 5.6756756757vw;
    padding: 9.4594594595vw 4.0540540541vw 8.1081081081vw;
    margin-bottom: 18.9189189189vw;
    -webkit-box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
            box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
  }
  .c-block.sec3 {
    background: #fff;
  }
  .c-block.sec4 {
    background: #fff;
  }
  .c-block.sec5 {
    background: #fff;
  }
  .c-block.sec6 {
    background: #fff;
  }
  .c-block.sec8 {
    background: #fff;
  }
  .c-block.sec8 .sec8_2 {
    background: #fff;
  }
  .c-block.sec8 .sec8_3 {
    background: #fff;
  }
  .c-block__lead {
    font-size: 4.0540540541vw;
    margin-bottom: 7.5675675676vw;
  }
  .c-block__logo {
    width: 46.4864864865vw;
    margin: 0 auto 7.5675675676vw;
  }
  .c-block__intro {
    font-size: 4.3243243243vw;
    width: 76.2162162162vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9.7297297297vw;
  }
  .c-block__intro-note {
    font-size: 3.2432432432vw;
    margin-bottom: 5.4054054054vw;
  }
  .c-block__intro-note li {
    padding-left: 2.5em;
    text-indent: -2.5em;
  }
  .c-block__content {
    margin-bottom: 6.7567567568vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-block__content:last-of-type {
    margin-bottom: 0;
  }
  .c-block__content__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    font-size: 4.3243243243vw;
  }
  .c-block__content__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-bottom: 7.5675675676vw;
  }
  .c-block__content__title {
    font-size: 5.4054054054vw;
    background: none;
    margin-bottom: 5.4054054054vw;
    padding: 0;
  }
  .c-block__content__title.with-line {
    padding-bottom: 7.5675675676vw;
    margin-bottom: 6.4864864865vw;
    background-image: radial-gradient(circle, #2fbc22 0.9459459459vw, transparent 0.9459459459vw);
    background-size: 4.5945945946vw 1.8918918919vw;
    background-position: left bottom;
    background-repeat: repeat-x;
  }
  .c-block__content__body {
    font-size: 4.3243243243vw;
    padding: 0;
    margin-bottom: 9.4594594595vw;
  }
  .c-block__content__body .strong {
    font-size: 5.4054054054vw;
  }
  .c-block__content__list {
    margin-top: 4.8648648649vw;
    font-size: 4.0540540541vw;
    padding-left: 1em;
  }
  .c-block__price-table {
    display: block;
  }
  .c-block__price-table tbody {
    display: block;
  }
  .c-block__price-table th,
  .c-block__price-table td {
    display: block;
    font-size: 4.3243243243vw;
  }
  .c-block__price-table th {
    padding-right: 0em;
  }
  .c-block__price-table td {
    padding-left: 1em;
  }
  .c-block__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8.1081081081vw;
  }
  .c-block__btns:not(:last-child) {
    margin-bottom: 15.6756756757vw;
  }
  .c-block__btns.grid-cols-1 {
    grid-template-columns: 1fr;
  }
  .c-block__btns.grid-cols-3 {
    grid-template-columns: 1fr;
    gap: 15.6756756757vw;
  }
}

.book {
  margin-bottom: 70px;
}
.book__title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  padding-top: 117px;
  background: url("../img/bg_book_title.png") no-repeat center top/855px 80px;
  margin-bottom: 53px;
  color: var(--color-green);
}
.book__list {
  display: grid;
  width: 653px;
  margin: 0 auto 80px;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
.book__list.grid-cols-2 {
  max-width: 438px;
  grid-template-columns: repeat(2, 1fr);
}
.book__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  width: 180px;
}
.book__item.chatgpt {
  width: 221px;
}
.book__item__image {
  position: relative;
}
.book__item__image::before {
  position: absolute;
  content: "";
  inset: 0;
  border: 1px solid #d9d9d9;
}
.book__item__link {
  text-align: center;
}
.book__item__link .btn {
  width: 152px;
}
@media (min-width: 750px) and (max-width: 900px) {
  .book {
    margin-bottom: 7.2727272727vw;
  }
  .book__title {
    font-size: 2.4675324675vw;
    padding-top: 11.038961039vw;
    background: url("../img/bg_book_title.png") no-repeat center top/81.1688311688vw 7.6623376623vw;
    margin-bottom: 3.6363636364vw;
  }
  .book__list {
    width: 62.3376623377vw;
    margin-bottom: 7.2727272727vw;
    gap: 5.4545454545vw;
  }
  .book__list.grid-cols-2 {
    max-width: 39.7402597403vw;
  }
  .book__item {
    gap: 2.3376623377vw;
    width: 17.1428571429vw;
  }
  .book__item.chatgpt {
    width: 21.038961039vw;
  }
  .book__item__link {
    text-align: center;
  }
  .book__item__link .btn {
    width: 14.5454545455vw;
  }
}
@media (max-width: 749px) {
  .book__title {
    font-size: 5.6756756757vw;
    padding-top: 0vw;
    background: none;
    margin-bottom: 6.4864864865vw;
  }
  .book__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 13.5135135135vw;
    gap: 10.8108108108vw;
  }
  .book__list.grid-cols-2 {
    grid-template-columns: 1fr;
    max-width: initial;
  }
  .book__list.grid-cols-3 {
    grid-template-columns: 1fr;
  }
  .book__item {
    gap: 8.1081081081vw;
    width: 48.9189189189vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .book__item.chatgpt {
    width: 59.7297297297vw;
  }
  .book__item__link {
    text-align: center;
  }
  .book__item__link .btn {
    width: 41.0810810811vw;
  }
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}
.tag__item {
  padding: 10px 35px;
  font-size: 2.2rem;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}
.tag__item.skill-up {
  background: var(--color-skill-up);
}
.tag__item.money {
  background: var(--color-money);
}
.tag__item.language {
  background: var(--color-language);
}
@media (max-width: 749px) {
  .tag {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 8.1081081081vw;
  }
  .tag__item {
    border-width: 0.4054054054vw;
    font-size: 3.2432432432vw;
    padding: 2.1621621622vw 4.8648648649vw;
  }
  .tag__decoration {
    position: relative;
  }
  .tag__decoration::before, .tag__decoration::after {
    position: absolute;
    content: "";
    display: block;
    width: 12.1621621622vw;
    height: 6.2162162162vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .tag__decoration::before {
    background: url("../img/bg_drill_l.png") no-repeat left center/cover;
    left: 0rem;
  }
  .tag__decoration::after {
    background: url("../img/bg_drill_r.png") no-repeat right center/cover;
    right: 0rem;
  }
}

.back-to-top-container {
  position: sticky;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 80px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.back-to-top-container.show {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 749px) {
  .back-to-top-container {
    position: relative;
    width: 100%;
    margin-right: 0;
    bottom: 0;
  }
}

.back-to-top {
  position: absolute;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2em;
  color: var(--color-green);
  width: 62px;
  padding: 0;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 749px) {
  .back-to-top {
    top: 3.7837837838vw;
    right: 4.5945945946vw;
    color: #fff;
    width: 12.4324324324vw;
    font-size: 2.4324324324vw;
  }
}

@media (min-width: 750px) and (max-width: 900px) {
  .back-to-top-container {
    display: none;
  }
}